<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sagar/Desktop/SDET-PREPARATION/WebAndApi">
        <classes>
            <class name="com.sagar.testcase.web.loginpage.LoginPageTest">
                <methods>
                    <include name="openLoginPage"/>
                </methods>
            </class>
            <class name="com.sagar.testcase.web.loginpage.LoginToApplicationTest">
                <methods>
                    <include name="verifyUserIsAbleToLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>